<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  <ion-header>

    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button>
          <ion-menu-button menu="main"></ion-menu-button>
        </ion-button>
      </ion-buttons>
      <ion-title>
        Guest Log
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openLogUsers($event)">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
      <ion-searchbar (search)="setFilteredItems($event, true)"
        (input)="setFilteredItems($event, false)">
      </ion-searchbar>
    </ion-toolbar>
  </ion-header>


  <ion-content class="global-background" color="primary">
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list no-lines *ngIf="plist?.length > 0">

      <div *ngFor="let item of plist; let i = index">
  
        <ion-item class="ion-text-wrap" *ngIf="item.scanned == null" color="primary">
          <ion-grid class="ion-text-wrap">
            <ion-row class="mforcolumns">
              <ion-col size="12">
                <p>{{item.log_text}}</p>
              </ion-col>
              <ion-col size="12">
                <p [ngClass]="{'succ' : item.is_success == 1, 'err' : item.is_success == 0 }">{{item.scanDate}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
  
  
  
  
  
  
  
        <ion-item class="ion-text-wrap" *ngIf="item?.scanned != null" color="primary">
            <ion-grid class="ion-text-wrap">
              <ion-row class="mforcolumns">
                <ion-col size="6">
                  <h2>{{item?.scanned?.added_user?.fullName}}</h2>
                  <p>{{item?.scanned?.added_user?.formattedPhone}}<br> {{item?.scanned?.added_user?.licence_number}}</p>
                </ion-col>
                <ion-col size="6">
                  <h2>{{item?.scanned?.its_pass?.its_owner?.fullName}}</h2>
                  <p>Event: {{item.scanned?.its_pass?.get_event?.event_name}}</p>
                </ion-col>
                <ion-col size="12">
                  <p [ngClass]="{'succ' : item.is_success == 1, 'err' : item.is_success == 0 }">{{item.scanDate}}<br>{{item.log_text}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
  
        </ion-item>
  
      </div>
  
    </ion-list>


    <app-emptyview *ngIf="plist?.length == 0" [icon]="'assets/imgs/identity.png'" [type]="'image'" [message]="'You Have No Scan Records'"></app-emptyview>

    <!-- <div class="dflex noRecords" *ngIf='plist?.length != 0'>
      <ion-avatar class="start">
        <img src="assets/imgs/identity.png">
      </ion-avatar>
      <h2>You Have No Upcoming Invites</h2>
    </div> -->

    <ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMore($event) : $event.target.complete()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


  </ion-content>

  <ion-footer>

    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="6" class="ion-no-padding">
          <ion-button fill="clear" class="" (click)="scanCode()">
            <div class="dflex">
              <ion-icon name="barcode-outline"></ion-icon>
              <label>Scan A Pass</label>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-button fill="clear" class="" (click)="gotiGuardRes()">
            <div class="dflex">
              <ion-icon name="people-circle-outline"></ion-icon>
              <label>Residents</label>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-footer>