<ion-header>

  <ion-toolbar color="primary">
    <ion-title>License Verification</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content color="primary">
  <form [formGroup]="aForm">
  <ion-slides pager="false" #slides>

    <ion-slide>
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-subtitle>Step 1</ion-card-subtitle>
          <ion-card-title>Please Verify This Guest With Their ID As Shown Below</ion-card-title>
          <img [src]="data.licence_image"/>
        </ion-card-header>
      
        <ion-card-content >
          <p>Verified ?</p>
          <ion-list  class="ion-padding background-transparent" >
            <ion-radio-group formControlName="image_verified" color="primary" >
              <ion-button shape="round" expand="block" class="ion-text-uppercase btn-big ion-margin-bottom" color="success"  (click)="notVerified('image_verified', true )">Yes / Continue</ion-button>
              <ion-button shape="round" expand="block" class="ion-text-uppercase btn-big" color="danger"  (click)="notVerified('image_verified', false)">No / Override</ion-button>
            </ion-radio-group>

          
          </ion-list>
        </ion-card-content>
      </ion-card>
          


    </ion-slide>
    <ion-slide >
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-subtitle>Step 2</ion-card-subtitle>
          <ion-card-title>Please Verify This Guest With Licence As Shown Below</ion-card-title>
        </ion-card-header>
      
        <ion-card-content >

          <h1 class="ln-heading">{{data.licence_plate | uppercase}}</h1>
          <h1 class="lg-heading" *ngIf="data.make" >{{data.make}}<br></h1>
          <h1 class="lg-heading" *ngIf="data.model" >{{data.model}}<br></h1>
          <h1 class="lg-heading" *ngIf="data.year" >{{data.year}}<br></h1>
          <h1 class="lg-heading" *ngIf="data.color" >{{data.color}}<br></h1>

          <br>
          <p>Verified ?</p>
          <ion-list class="ion-padding background-transparent">
            <ion-radio-group formControlName="licence_verified">
              <ion-button [disabled]="islicence_must"  shape="round" expand="block" color="success" class="ion-text-uppercase btn-big" (click)="notVerified('licence_verified', true )">Yes / Continue</ion-button>
              <ion-button shape="round" expand="block" color="danger" class="ion-text-uppercase btn-big" (click)="notVerified('licence_verified', false)">No / Override</ion-button>
            </ion-radio-group>
          
          </ion-list>
        </ion-card-content>
      </ion-card>
      

    </ion-slide>

  </ion-slides>

</form>
</ion-content>
