<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Verification
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="primary" class="ion-padding">
    <form [formGroup]="aForm">
        <p *ngIf="is_licence_locked != 1">Please upload a valid form of ID as requested below</p>
        <p *ngIf="is_licence_locked == 1"> Licence information is locked, to upload information again, ask your community admin to unlock it for you</p>



        <ion-item color="primary" class="yellow-border">
            <ion-label>License Type</ion-label>
            <ion-select formControlName="licence_format" [disabled]="is_licence_locked == 1">
                <ion-select-option value="dl">Driver's License</ion-select-option>
                <ion-select-option value="si">Student ID</ion-select-option>
                <ion-select-option value="mi">Millitary ID</ion-select-option>
                <ion-select-option value="ps">Passport</ion-select-option>
            </ion-select>
        </ion-item>

        <!-- <ion-item class="form_input yellow-border prompt-field">
          <ion-label>License No.</ion-label>
          <ion-input [disabled]="is_licence_locked == 1" text-right type="text" class="" formControlName="licence_number" placeholder="Type Here"></ion-input>
        </ion-item> -->

        <div *ngIf="aForm.controls.licence_image.value">
            <img [src]="_DomSanitizer.bypassSecurityTrustUrl(liImageBase64)" />
        </div>

        <ion-button [disabled]="is_licence_locked == 1" color="light" expand="full" fill="outline" (click)="getlicenceimage()">
            <ion-icon name="add"></ion-icon> Upload License
        </ion-button>
        <ion-row>
            <ion-col size="12">
                <ion-button shape="round" expand="block" class="ion-text-uppercase" color="light" (click)="finishregister(4)">
                    Finish
                </ion-button>
            </ion-col>
        </ion-row>


    </form>
</ion-content>