.slide-description {
    font-size: 14px;
    opacity: 0.8;
    text-transform: unset;
    text-align: justify;
    
  }
  .slide-image {
    max-height: 30vh;   
    max-width: 100%;
    margin: 0px 0;
  }