<!--
  Generated template for the QuickPassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-title>Quick Pass</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModel()">Close</ion-button>

    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">
  <form [formGroup]="aForm">
    <ion-list>
      <ion-item class="ion-text-wrap">
        <label>A Quick Pass has been approved to be sent to the phone number below on behalf of {{display_name}} from
          {{guard_name}} </label>
      </ion-item>




      <ion-item>
        <ion-label position="stacked">
          Full Name
        </ion-label>
        <ion-input type="text" formControlName="display_name" id="display_name" placeholder="Full Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          Phone Number
        </ion-label>
        <ion-input type="tel" formControlName="phone_number" id="phone_number" placeholder="(XXX) XXX-XXXX"
          (input)="onTelephoneChange($event, $event.target.value)"></ion-input>
      </ion-item>
      <ion-item class="form_input">
        <ion-label position="stacked">Visitor Type</ion-label>
        <ion-select formControlName="visitor_type">
          <ion-select-option value="1">Family / Friend</ion-select-option>
          <ion-select-option value="2">Vendor / Delivery</ion-select-option>
        </ion-select>
      </ion-item>
      
    </ion-list>

    <ion-button class="ion-margin" [disabled]="aForm.invalid" shape="round" color="primary" expand="full" type="button" (click)="send()">
      Continue</ion-button>
    

  </form>
</ion-content>