<ion-app>

  <!--  the side menu  -->
  <ion-menu menuId="main" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item menuClose ion-item (click)="openPage(pages[0])">
          My Account
        </ion-item>
        <ion-item menuClose ion-item (click)="openPage(pages[1])">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- the main content -->

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>