<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Residents
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar (search)="setFilteredItems($event, true)" (input)="setFilteredItems($event, false)">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-list>

    <ion-item *ngFor="let c of phone_contacts; let j = index" class="ion-text-wrap">
      <ion-avatar slot="start">
        <img *ngIf="!c.profileImageUrl" [src]="avatar">
        <img *ngIf="c.profileImageUrl" [src]="c.profileImageUrl">
      </ion-avatar>
      <ion-label>
        <h2>{{c.fullNameInverted}}</h2>
        <p *ngIf="c.phone_number != null" [innerHtml]="formatPhoneNumber(c.phone_number)"></p>
        <p>{{c.residents?.house_details}}</p>
        <ion-button fill="outline" shape="round" size="small" *ngIf="c.phone_number != null"
          (click)="callMe(c.phone_number)">Call</ion-button>
        <ion-button fill="outline" shape="round" size="small" (click)="quickpassViaAdminGuard(c)"> Quick Pass
        </ion-button>
      </ion-label>
    </ion-item>

  </ion-list>

  <app-emptyview *ngIf="phone_contacts?.length == 0" [icon]="'assets/imgs/identity.png'" [type]="'image'"
    [message]="'No Record Found'"></app-emptyview>



</ion-content>