<ion-header>

  <ion-toolbar color="primary">

    <ion-title>License Upload</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeDismiss({data: 'A'})">Close</ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding" color="primary">
  <form [formGroup]="aForm">

    <h2>Verification</h2>
    <p>Please upload a valid form of ID as requested below</p>

    <ion-list>
      <ion-item class="form_input yellow-border" color="primary">
        <ion-label position="stacked">License</ion-label>
        <ion-select formControlName="licence_format">
          <ion-select-option value="dl">Driver's License</ion-select-option>
          <ion-select-option value="si">Student ID</ion-select-option>
          <ion-select-option value="mi">Millitary ID</ion-select-option>
          <ion-select-option value="ps">Passport</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    

    <div *ngIf="aForm.controls.licence_image.value">
      <img [src]="_DomSanitizer.bypassSecurityTrustUrl(liImageBase64)" />
    </div>


    <ion-button color="light" expand="full" class="white" (click)="getlicenceimage()">
      <ion-icon name="add"></ion-icon> Upload License
    </ion-button>

  </form>
</ion-content>
<ion-footer [translucent]="false" class="ion-margin-bottom ion-margin-top">
  <ion-button color="white" shape="round" expand="block" class="ion-text-uppercase" (click)="finishregister()">CONTINUE</ion-button>
</ion-footer>