ion-header {
    ion-toolbar {
        
        --background: color(primary);
        border-color: transparent;
        border: 0px !important;
    }

    
}

.skiptour {
    padding: 6px 19px;
    // height: auto;
    right: 0px;
    top: 0px;
    position: absolute;
    z-index: 9999;
}

ion-toolbar,
ion-header {
    overflow: visible !important;
    //position: relative;
}

ion-header:after {
    display: none;
}

ion-toolbar {
    contain: inherit;
    align-items: normal;
    min-height: 127px;
    border: 0px;
    // margin-bottom: 40px;
}

.logo-tutorial {
    // position: absolute;
    z-index: 999;
    width: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background: none;
    margin: 0 auto;
    border-radius: 0px;
    --padding: 0px;
}

ion-content {
    background: #f2f2f2 !important;

    h2 {
        font-size: 1.2em;
        color: color(dark);
        font-weight: normal;

        strong {
            color: colors(primary);
            font-size: 1.2em;
            font-weight: normal;
            display: block
        }
    }
}

.swiper-pagination-bullet-active {
    background: color(primary);
}

.slide-zoom {
    height: 100%;
}

.slide-title {
    margin-top: 0rem;
}

.slide-image {
    max-height: 45%;
    max-width: 100%;
    margin: 0px 0;
}

.swiper-container-horizontal>.swiper-pagination {
    bottom: 0; //Change accordingly
    z-index: 99 !important;
}

b {
    font-weight: 500;
}

p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: color(dark);

    b {
        color: color(dark);
    }
}

ion-slide {
    .slide-description {
        font-size: 14px;
        opacity: 0.8;
        padding-bottom: 30px;
    }
}

ion-footer {
    background: #fff;

    .alreadysign {
        padding: 0px;
        height: 24px;
    }
}

.swiper-slide {
    overflow: scroll !important;
}

button.white {
    background: #fff !important;
    color: #000;
}


@media screen and (min-width: 766px) and (max-width:991px) {
    .swiper-container {
        height: 49%;
    }

    page-tutorial ion-slide .slide-description {
        padding: 0 60px;
    }

    .logo-tutorial {
        width: 77% !important;
        padding-top: 10px !important;
    }
}

@media screen and (min-width: 667px) and (max-width: 767px) {
    .swiper-pagination {
        bottom: 1% !important;
    }

}

@media screen and (min-width: 320px) and (max-width: 666px) {
    ion-content h2 strong {
        font-size: 24px !important;
    }

    .swiper-pagination {
        bottom: 1% !important;
    }
}

@media (min-width:320px) {

    ion-content h2,
    ion-content h2 strong {
        font-size: 18px !important;
    }

    .slide-description {
        font-size: 13px !important;
    }
}